.contact{
    padding:6.25rem  1.25rem;
}

textarea, input{
    width: 100%;
    padding:1.25rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    border-radius:0.32rem;
    padding-left: 1.125rem;
    font-size:0.82rem;
    background: transparent;
    border: 1px solid #f0e9ff;
    color:#495057;
    background-color:rgba(209, 209, 209, 0.1);
}

textarea:focus,
input:focus{
    outline: 0;
}

.half-flex {
    display: flex;
}

.contact__firstname{
    padding-right:0.94rem;
    flex:1;
}

.contact__email{
    padding-left:0.94rem;
    flex:1;
}

.contact_send{
    margin-top:1.88rem;
}

/* MEDIA QUERIES CSS Start */
@media only screen and (max-width:991px){
    .half-flex{
        flex-direction: column;
    }

    .contact__firstname,
    .contact__email{
        padding: 0;
    }
}
