/* GLOBAL CSS Start */
* {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fff;
  }
  
  .container {
    width: 1140px;
    margin: 0 auto;
  }
  
  .clearfix {
    clear: both;
  }
  
  .to-uppercase {
    text-transform: uppercase;
  }
  
  .blur-line {
    display: inline-block;
    margin-left: 5px;
    width: 80px;
    height: 4px;
    background-color: rgba(237, 35, 159, 0.6);
    filter: blur(4px);
    border-radius: 4px;
    position: relative;
    top: -2px;
  }
  
  .section-subtitle {
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #797979;
    text-transform: uppercase;
  }
  
  .section-title {
    margin-top: 5px;
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    color: #05364d;
  }

  .site-button {
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
    background-size: 200% auto;
    margin-top: 30px;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  
  .site-button:hover {
    background: linear-gradient(to right, #ed239f 1%, #1345e6 51%, #1345e6 100%);
    background-size: 200% auto;
  }
  
  /* SITE HEADER CSS Start  */
  
  .site-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 10;
  }
  
  .site-logo-wrap {
    display: inline-block;
    vertical-align: middle;
  }
  
  .site-logo-img {
    width: 100px;
    height: 64px;
    margin: 10px;
  }
  
  /* SITE HEADER NAV CSS Start  */
  .site-nav {
    display: inline-block;
    vertical-align: middle;
  }
  
  .site-nav__list__item {
    display: inline-block;
    padding: 20px;
  }
  
  .site-nav__list__item_link {
    color: #05364d;
    text-decoration: none;
    font-style: 12px;
    font-weight: 500;
  }
  
  .site-nav__list__item_link:hover {
    color: #efb6df;
  }
  
  .site-nav__list__item_link.active {
    color: #efb6df;
  }

  /* SITE MAIN CSS START */

main {
    flex-grow: 1;
}