/* GLOBAL CSS  */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:#fff;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin:0px auto;
    padding: 0px 30px;
}

.clearfix{
    clear: both;
}

.to-uppercase{
    text-transform: uppercase;
}

/* SITE HEADER CSS Start  */
.site-logo-wrap{
    display: inline-block;
    vertical-align: middle;
}

.site-logo-img{
    width:100px;
    height: 64px;
}

/* SITE HEADER NAV CSS Start  */
.site-nav{
    display: inline-block;
    vertical-align:middle;
}

.site-nav__list__item{
    display: inline-block;
    padding: 10px;
}

.site-nav__list__item_link{
    color:#05364d;
    text-decoration: none;
    font-style: 12px;
    font-weight: 500;
}

.site-nav__list__item_link:hover{
    color:#efb6df;
}

.site-nav__list__item_link.active{
    color:#efb6df;
}

/* HERO SECTION Css Start  */
.hero-section {
    margin-top: 100px;
}

.hero-section > div {
    width: 50%;
    float: left;
}

.hero-welcome{
    font-size:20px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color:#797979;
}

.hero-heading{
    margin: 20px 0px;
    font-size:60px;
    font-weight: 500;
    color: #05364e;
}

.hero-position{
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #05364e;
}

.hero-social-networks > a{
    display: inline-block;
    text-decoration: none;
    color:#8fa1aa;
    font-size:20px;
    margin-right: 16px;
    cursor: pointer;
}

.hero-social-networks > a i:hover{
    color:#1c44e4;
}

.site-button{
    margin-top: 30px;
    padding: 20px 40px;
    font-size: 16px;
    font-weight:500;
    cursor: pointer;
    border:none;
    border-radius: 5px;
    color: #fff;
    background-color:#1c44e4;
}

.hero-img-wrap{
    text-align: right;
}

/* STATISTICS SECTIOAN CSS Start  */

.statistics-section{
    margin-top: 100px;
}

.statistics-content{
    display: inline-block;
    width: 150px;
    text-align: center;
    padding:5px 10px;
    background-color:#f8faff;
    margin-right: 20px;
}

.statistics__number{
    font-size: 27px;
    margin-bottom: 5px;
    color: #00BCD4;
}

.statistics__title{
    font-size: 16px;
    color: #797979;
    font-weight: 300;
}

/* ABOUTE ME SECTION CSS Start   */

.abouteMe-section{
    margin-top: 100px;
}

.abouteMe-section > div{
    width: 50%;
    float: left;
}

.aboutMe-img-wrap{
    width: 90%;
}

.aboutMe-subtitile{
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #797979;
    text-transform: uppercase;
}

.aboutMe-titile{
    margin-top:10px;
    font-size: 42px;
    font-weight: 700;
    color: #05364e;
    text-transform: uppercase;
}

.aboutMe-description{
    font-size: 14px;
    font-weight: 300;
    color: #797979;
    line-height: 27px;
}