/* SITE MAIN CSS START */
main {
  flex-grow: 1;
}

.main-banner {
  background: url("../images/main-banner.png") no-repeat top center;
  background-position: center;
  background-size: cover;
  min-height: 890px;
}

/* HERO SECTION Css Start  */
.hero-section {
  padding: 7.5rem 1.875rem; /* 1) 120 / 16 = 7.5rem    2) 30 / 16 = 1.875 */
}

.hero-section > div {
  width: 50%;
  float: left;
}

.hero-wrap {
  padding-top: 150px;
}

.hero-welcome {
  font-size: 1.25rem; /* 20 /16 = 1.25rem */
  font-weight: 400;
  margin-bottom: 1.25rem; /* 20 /16 = 1.25rem */
  letter-spacing: 2px;
  color: #797979;
}

.hero-heading {
  margin: 1.25rem 0; /* 20 /16 = 1.25rem */
  font-size: 3.75rem; /* 60 / 16 = 3.75rem */
  font-weight: 500;
  color: #05364e;
}

.hero-position {
  font-size: 1.625rem; /* 26 / 16 = 1.625 rem */
  font-weight: 300;
  margin-bottom: 1.25rem; /* 20 /16 = 1.25rem */
  color: #05364e;
}

.hero-social-networks > a {
  display: inline-block;
  text-decoration: none;
  color: #8fa1aa;
  font-size: 1.25rem; /* 20 /16 = 1.25rem */
  margin-right: 1rem; /* 16 / 16 = 1rem */
  cursor: pointer;
}

.hero-social-networks > a i{
  color: #05364d;
}

.hero-social-networks > a i:hover {
  color: #1c44e4;
}

.hero-img-wrap {
  text-align: right;
}

/* STATISTICS SECTIOAN CSS Start  */
.statistics-content {
  display: inline-block;
  width: 150px;
  text-align: center;
  padding: 0.32rem 0.625rem; /* 1) 5 / 16 = 0.3125rem 2) 10 / 0.625rem */
  background-color: #f8faff;
  margin-right: 1.25rem; /* 20 /16 = 1.25rem */
}

.statistics__number {
  font-size: 1.69rem;
  margin-bottom: 0.32rem;
  background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statistics__title {
  font-size: 1rem;
  color: #797979;
  font-weight: 300;
}

/* ABOUTE ME SECTION CSS Start   */
.abouteMe-section {
  padding: 6.25rem 0;
}

.abouteMe-section > div {
  width: 50%;
  float: left;
}

.aboutMe-img-wrap img {
  width: 90%;
}

.aboutMe-description {
  font-size: 0.874rem;
  font-weight: 300;
  color: #797979;
  line-height: 1.69rem;
}

/* SERVICES SECTION CSS START  */
.services-section {
  margin-top: 2.5rem;
}

.services__card {
  display: inline-block;
  width: 30%;
  padding: 3.75rem 1.87rem;
  background-color: #f8faff;
  margin-right: 3%;
  text-align: center;
}

.services__card__description {
  font-size: 0.88rem;
  line-height: 1.69rem;
  font-weight: 300;
  color: #797979;
}

.services__card__link {
  font-size: 0.82rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #05364d;
  text-decoration: none;
}

.services__card:hover {
  background-color: #5f30ff;
}

.services__card:hover .services__card__title,
.services__card:hover .services__card__description,
.services__card:hover .services__card__link {
  color: #ffffff;
}

/* CLIENT SECTION CSS Start   */
.clients-section {
  padding-top: 6.25rem;
}

.clients_list > div {
  width: 50%;
  float: left;
}

.client_list_item img {
  width: 100%;
}

.client-item-info {
  padding-top: 3.125rem;
  padding-left: 3.125rem;
}

.client-info-name {
  font-size: 1.25rem;
  margin-bottom: 4px;
}

.client-info-position {
  font-size: 0.88rem;
  font-weight: 300;
  color: #5b6d75;
}

.client-info-review {
  font-size: 0.88rem;
  line-height: 1.69rem;
  font-weight: 300;
  color: #5b6d75;
}

.client-item__rate {
  color: #ffd805;
}

/* PORTFOLIO SECTION CSS Start  */
.portfolio-section {
  padding: 100px 0px;
}

.portfolio-filters {
  list-style-type: none;
  padding-left: 0;
  margin-top: 3.125rem;
}

.portfolio-filters li {
  display: inline-block;
  margin-right: 2.5rem;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
}
.portfolio-filters li:hover,
.portfolio-filters li.active {
  color: #1345e6;
}

.portfolio_items {
  position: relative;
  margin-top: 3.125rem;
}

.portfolio_item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 50%;
  padding: 0.625rem;
}

.portfolio_item-2 {
  position: absolute;
  right: 0;
  top: 0;
}

.portfolio_item-3 {
  position: absolute;
  right: 0;
  top: 20.125rem;
}

.portfolio_item__img {
  width: 100%;
}

.portfolio_item_overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 69, 230, 0.9);
  visibility: hidden;
  z-index: 1;
}

.portfolio_item:hover .portfolio_item_overlay {
  visibility: visible;
  top: 1.25rem;
  left: 1.25rem;
}

.portfolio_item_info {
  position: absolute;
  bottom: 44px;
  left: 80px;
  color: #fff;
  visibility: hidden;
  z-index: 1;
}

.portfolio_item:hover .portfolio_item_info {
  visibility: visible;
  bottom: 24px;
  left: 60px;
}

.portfolio_item_info a {
  color: #fff;
  text-decoration: none;
}

/* BLOG SECTION CSS Start   */
.blog-section {
  padding-top: 3.125rem;
}

.blog-items {
  margin-top: 3.125rem;
}

.blog-item {
  display: inline-block;
  width: 30%;
  margin-right: 3%;
  box-sizing: border-box;
}

.blog-item:hover {
  box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}

.blog-item:hover .blog-item-info {
  background-color: #fff;
}

.blog-item__img img {
  width: 100%;
}

.blog-item-info {
  background-color: #f8faf8;
  padding: 1.875rem;
  color: #797979;
}

.blog-item-main-info span {
  font-size: 14px;
  margin-right: 1.875rem;
  font-weight: lighter;
}

.blog-item-main-info i {
  margin-right: 5px;
}

.blog-item-titile {
  font-size: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 0.94rem;
  color: #05364d;
  font-weight: 700;
}

.blog-item__description {
  font-size: 0.64rem;
  line-height: 1.69rem;
  font-weight: lighter;
}

.blog-item-link {
  font-size: 0.82rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #05364d;
  text-decoration: none;
}

.blog-item-link:hover {
  color: #ed239f;
}

/* PARTNERS SECTION CSS Start  */
.partners-section {
  padding-top: 6.25rem;
}

.partner {
  display: inline-block;
  padding: 0 1.875rem;
}

/* MEDIA QUERI CSS Start   */
@media only screen and (max-width:991px){
   /* MAIN Section responsive start  */
   .hero-img {
    display: none;
  }

  .hero-section > div {
    width: 100%;
  }
  /* STATISTICS Section responsive start  */
  .statistics-section{
    padding-top: 1rem;
    text-align: center;
  }

   /* AboutMe Section responsive start  */
   .abouteMe-section {
    padding: 1.5rem 0;
  }

  .abouteMe-section > div {
    width: 100%;
  }

  .aboutMe-img-wrap img {
    display: none;
  }

    /* SERVICES Section responsive start  */
    .services-section {
      padding: 1.5rem 0;
    }

    
  .services__card {
    width:45%;
    margin-bottom: 20px;
  }
  
  /* CLIENT Section responsive start */
  .clients-section {
    padding: 1.5rem 0;
  }

  .clients_list > div {
    width: 100%;
    float: none;
  }

  /* BLOG Section responsive start   */
  .blog-section {
    padding: 1.5rem 0;
  }

  .blog-item{
    width:45%;
    margin-bottom: 20px;
  }

    /* PARTNERS Section responsive start */
.partners-section{
  padding: 1.5rem 0;
}

.partner{
  display: block;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
}

}

@media only screen and (max-width: 767px) {

  /* MAIN Section responsive start  */
  .main-banner {
    background: none;
    min-height: auto;
  }

  /* HERO Section responsive start  */
  .hero-wrap {
    padding: 5rem 0;
  }

  .hero-section {
    padding: 0;
  }

  .hero-heading{
    font-size: 3rem;
  }

  .site-button {
    display: none;
  }

  .hero-social-networks{
    text-align: center;
  }

  /* STATISTICS Section responsive start  */
  .statistics-content {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
    box-sizing: border-box;
  }

  /* SERVICES Section responsive start  */

  .services__card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  /* PORTFOLIO Section responsive start */
  .portfolio-section {
    padding: 1.5rem 0;
  }

  .portfolio_item {
    width: 100%;
  }

  .portfolio_item-2,
  .portfolio_item-3 {
    position: static;
  }

  /* BLOG Section responsive start   */
  .blog-item{
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

}
